@model Spy_Scrape.Models.Ad

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdOs" class="control-label"></label>
                <input asp-for="AdOs" class="form-control" />
                <span asp-validation-for="AdOs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdTargetMarket" class="control-label"></label>
                <input asp-for="AdTargetMarket" class="form-control" />
                <span asp-validation-for="AdTargetMarket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdMarketCountry" class="control-label"></label>
                <input asp-for="AdMarketCountry" class="form-control" />
                <span asp-validation-for="AdMarketCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrafficSourceId" class="control-label"></label>
                <input asp-for="TrafficSourceId" class="form-control" />
                <span asp-validation-for="TrafficSourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
